@use 'variables';
@use 'investments';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    background-color: variables.$background;
    color: variables.$text-primary;
}

html,
input,
button,
select,
textarea {
    font-family: variables.$font-primary !important;
    line-height: 1.5;
    font-size: 1.125rem;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    padding: 0;
    flex: 1;
    margin: 0 auto;
    min-height: 100vh;
}

.main-content {
    padding: 2rem 1rem;
}

p {
    margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
    font-family: variables.$font-secondary;
}

a {
    color: variables.$text-link;
    font-size: 1.2rem;
}

button {
    background-color: variables.$button-color;
    color: variables.$text-light;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: variables.$button-hover-color;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header a {
    color: variables.$text-light;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.header .nav {
    padding: 2rem 0;
    padding-right: 2rem;
}

.site-header {
    align-items: center;
    display: flex;
    padding: 2rem 0;
    padding-left: 2rem;
}

.site-header .title {
    h1,
    p {
        margin: 0;
        padding: 0;
    }
}

.home {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;

    h1 {
        color: variables.$text-light;
    }
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$background-overlay;
    z-index: -1;
}

.about {
    height: 40vh;

    .text-container {
        padding-top: 10rem;
    }
}

.text-container {
    color: variables.$text-light;
    width: 800px;
    text-align: left;
    padding: 1rem;
    
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 500px) {
    .text-container {
        padding: 1rem;
        padding-top: 7rem;
        
        h1 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1rem;
        }
    }

    .header .nav {
        font-size: 1rem;
        padding: 1rem 0;
        padding-right: 1rem;
    }

    .header .site-header {
        padding: 1rem 0;
        padding-left: 1rem;
    }

}

.article {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.logo {
    img {
        width: 70px;
    }

}

.footer {
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    color: variables.$text-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
    padding-top: 2rem;
    margin-top: 2rem;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$background-overlay;
    z-index: -1;
}

.footer a {
    color: variables.$text-light;
}

.footer .social {
    font-size: 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-logo {
    display: flex;
    align-items: center;

    img {
        width: 50px;
    }
}

.footer-copyright {
    width: 100%;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.card {
    background-color: variables.$background2;
    color: variables.$text-primary;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 250px;
    text-decoration: none;
    font-size: 1rem;

    h1 {
        font-size: 3rem;
        color: variables.$color-accent;
    }

    h1,
    p {
        margin: 0;
        padding: 0;
    }
}

.color-palette {
    margin: 2rem 0;
    padding: 5px;
    background-color: variables.$color-light4;
    border-radius: 5px;
}
