{% include 'incl/header.twig' %}

<body>

    <div class="main" role="main">
        {% include 'incl/nav.twig' %}
        <div class="home" style="background-image: url('{{ meta.header_image }}')">
            <div class="text-container">
            <h1>Lien Global Capital</h1>
            <p>Investing in high-quality global companies, with a strategic mix of innovation and stability.</p>
            </div>
        </div>
        <div class="main-content">
    <div class="article">
        {{ content }}
    </div>
    <div class="cards-container">
        <a href="investments" class="card">
            <h1>125</h1>
            <p>NAV (USDbn)</p>
        </a>
        <a href="investments" class="card">
            <h1>9</h1>
            <p>Number of investments</p>
        </a>
        <a href="investments" class="card">
            <h1>25</h1>
            <p>Average annual return (%)</p>
        </a>
    </div>
</div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
